<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../../styles/common.css" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Ticker</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${fixupTasks.empty}">
				<td colspan="2">No Fix-up Tasks Available</td>
			</tr>
			<tr th:each="fixuptask : ${fixupTasks}">
				<td><span th:text="${fixuptask.ticker}"> Ticker </span></td>
				<td><span th:text="${fixuptask.publishDate}"> Date </span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>