<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../styles/common.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h1>New</h1>
	<form action="#" th:action="@{/fixuptask/save.do}"
		th:object="${fixupTask}" method="post">
		<p>
			Description: <input type="textarea" th:field="*{description}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
		<p>
			<select th:field="*{category}">
				<option th:each="i : ${categories}" th:value="${i}"
					th:text="${i.title}"></option>
			</select>
		</p>
	</form>
</body>
</html>