<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/styles/common.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="/styles/bootstrap.css" />
</head>
<body>
	<table id="fixupTaskTable" class="table">
		<thead>
			<tr>
				<th scope="col">Ticker</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${fixupTasks.empty}">
				<td colspan="2">No Fix-up Tasks Available</td>
			</tr>
			<tr th:each="fixuptask : ${fixupTasks}">
				<td><span th:text="${fixuptask.ticker}"> Ticker </span></td>
				<td><span th:text="${#dates.format(fixuptask.publishDate,'dd/MMM/yyyy')}"> Date </span></td>
			
			</tr>
		</tbody>
	</table>
	<a href="thyme-create.do">Create</a>
</body>
</html>